<template>
    <div id="app">
    <header>
        <b-navbar toggleable="md" type="dark" variant="ba-dark-blue">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-navbar-brand to="/">Brand Aware</b-navbar-brand>

        <b-collapse is-nav id="nav-collapse">
            <b-navbar-nav>
                <b-nav-item class="ba-teal" :to="{ name: 'listAll', params: { page: 1 } }">Brands</b-nav-item>
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
                <b-input-group class="mb-3">
                    <b-input v-model="query"  @keyup.enter="search" placeholder="Search for brands"></b-input>
                    <b-input-group-append>
                        <b-button @click="search" variant="primary">
                            Search
                        </b-button>
                    </b-input-group-append>
                </b-input-group>

                <b-nav-item :to="{ name: 'login' }" v-if="!loggedIn">Login</b-nav-item>
                <b-nav-item :to="{ name: 'register' }" v-if="!loggedIn">Register</b-nav-item>
                <b-nav-item href="#" @click="logout" v-if="loggedIn">Logout</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
    </header>
    
    <div class="alerts">
        <b-alert v-model="alert.showError" variant="danger" class="m-md-3 m-sm-1" dismissible>{{alert.message}}</b-alert>
        <b-alert v-model="alert.successCountdown" variant="success" class="m-md-3 m-sm-1" dismissible>{{alert.message}}</b-alert>
    </div>
    
    <main>
        <router-view></router-view>
    </main>
    </div>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { mapActions, mapState } from 'vuex'

export default {
    name: 'app',
    data() {
        return {
            query: ""
        }
    },
    methods: {
        ...mapActions({
            logout: "account/logout",
            clearAlert: "alert/clear"
        }),

        search() {
            let name = (this.query) ? 'search' : 'listAll';
            this.$router.push({ name, params: { query: this.query, page: 1 } });
        }
    },
    computed: {
        ...mapState({
            loggedIn: state => state.account.loggedIn,
            alert: state => state.alert
        })
    },
    watch: {
        $route (to, from) {
            this.clearAlert();
        }
    }
}
</script>

<style lang="scss">
    @import './assets/scss/custom.scss';
</style>

<style>
body {
  margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

main {
    text-align: center;
    margin-top: 40px;
}

header {
    margin: 0;
    height: 56px;
    background-color: #35495E;
    color: #ffffff;
}

header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
}

.alerts {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 99999!important;
}
</style>
