<template>
    <div class="addChildExpando">
        <b-card bg-variant="light" class="mb-1" no-body>
            <b-tabs pills card>
                <b-tab title="Add new brand">
                    <b-form @submit.prevent="addNewChild()">
                        <b-form-group>
                            <label class="sr-only" label-for="childName">Brand name</label>
                            <b-form-input
                                id="childName"
                                v-model="childName"
                                required
                                placeholder="Brand name"/>
                        </b-form-group>

                        <b-form-group>
                            <label class="sr-only" label-for="childSector">Brand sector</label>
                            <b-form-input
                                id="childSector"
                                v-model="childSector"
                                required
                                placeholder="Brand sector"/>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Add</b-button>
                        <b-button @click="$emit('close-add')">Cancel</b-button>
                    </b-form>
                </b-tab>

                <b-tab title="Add existing brand" @click="loadEntities()">
                    <b-form @submit.prevent="addExistingChild()">
                        <b-form-group>
                            <label class="sr-only" label-for="existingChild">Existing brand</label>
                            <multiselect v-model="child" track-by="Id" placeholder="Select brand" id="existingChild"
                                :options="entities" :allow-empty="false" :internal-search="false" @search-change="debouncedSearch">

                                <template v-slot:singleLabel="props">
                                    <span>{{props.option.Name}}</span>
                                    <small v-if="props.option.Sector !== null" class="text-muted">- {{props.option.Sector}}</small>
                                </template>

                                <template v-slot:option="props">
                                    <span>{{props.option.Name}}</span>
                                    <small v-if="props.option.Sector !== null" class="text-muted">- {{props.option.Sector}}</small>
                                </template>
                            </multiselect>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Add</b-button>
                        <b-button @click="$emit('close-add')">Cancel</b-button>
                    </b-form>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script>
import MultiSelect from 'vue-multiselect'

import { debounce } from 'lodash'
import { mapActions } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "addChildExpando",
    props: {
        parent: Object
    },
    data() {
        return {
            childName: "",
            childSector: "",
            entities: [],
            child: null
        }
    },
    methods: {
        ...mapActions('entity', ['createChild', 'createConnection', 'search']),
        ...mapActions({
            alertError: 'alert/error',
            alertSuccess: 'alert/success'
        }),

        addNewChild() {
            this.createChild({ parentId: this.id, childName: this.childName, childSector: this.childSector })
            .then(response => {
                this.alertSuccess("New sub-brand added");
                this.$emit('add-new-child', this.childName, response.data);
                this.childName = "";
                this.childSector = "";
            }).catch(error => {
                this.alertError(`Unable to add brand - ${errorMeaning(error)}`);
            });
        },

        addExistingChild() {
            this.createConnection({ parentId: this.id, childId: this.child.Id })
            .then(response => {
                this.alertSuccess("Sub-brand added");
                this.$emit('add-existing-child', this.child.Id);
            }).catch(error => {
                this.alertError(`Unable to add brand - ${errorMeaning(error)}`);
            });
        },

        loadEntities() {
            if (!this.entities.length) {
                this.$http.get("https://localhost:44320/api/entity/GetAll")
                .then(response => {
                    this.entities = response.data;
                }).catch(error => {
                    this.alertError(`Unable to load entities - ${errorMeaning(error)}`);
                });
            }
        },

        childSearch(query) {
            this.search({ query, page: 1, fetch: 15 })
            .then(response => {
                this.entities = response.data.Results;
            }).catch(error => {
                this.alertError(`Search failed - ${errorMeaning(error)}`)
            });
        },

        debouncedSearch: debounce(function(query) {
            this.childSearch(query)
        }, 750)
    },
    computed: {
        id() {
            return this.parent.Id;
        }
    },
    components: {
        MultiSelect
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
.childSearch {
    max-height: 200px;
    overflow: scroll;
}
</style>