<template>
    <div class="addEntityExpando">
        <b-card class="mb-1" bg-variant="light">
            <b-form @submit.prevent="addNewEntity()">
                <b-form-group>
                    <label class="sr-only" for="entityName">Entity name</label>
                    <b-form-input
                        id="entityName"
                        v-model="entityName"
                        required
                        placeholder="Brand name"/>
                </b-form-group>

                <b-form-group>
                    <label class="sr-only" for="entitySector">Entity sector</label>
                    <b-form-input
                        id="entitySector"
                        v-model="entitySector"
                        required
                        placeholder="Brand sector"/>
                </b-form-group>

                <b-button type="submit" variant="primary">Add</b-button>
                <b-button @click="$emit('close-add')">Cancel</b-button>
            </b-form>
        </b-card>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "addEntityExpando",
    data() {
        return {
            entityName: "",
            entitySector: ""
        }
    },
    methods: {
        ...mapActions('entity', ['createEntity']),
        ...mapActions({
            alertError: 'alert/error',
            alertSuccess: 'alert/success'
        }),

        addNewEntity() {
            this.createEntity({ name: this.entityName, sector: this.entitySector })
            .then(response => {
                this.alertSuccess('Brand created')
                this.$emit('add-new-entity', this.entityName, response.data);
                this.entityName = "";
                this.entitySector = "";
            }).catch(error => {
                this.alertError(`Unable to add brand - ${errorMeaning(error)}`);
            });
        }
    }
}
</script>

<style>

</style>