<template>
    <b-card class="childExpando border-right-0 mb-2 py-2 pl-2 rounded-0" no-body :class="{ even : !isEven }">
        <div>
            <b-button v-if="computedHasChildren" @click="toggleChildren" class="bg-transparent border-0 p-1 toggle-children">
                <div class="expand-triangle"  :class="{'expand-open' : childrenVisible}"></div>
            </b-button>
            
            <b-link :to="{ name: 'entity', params: { id: data.Id } }" class="entity-link text-ba-dark-blue w-100 border-0 text-left">
                {{data.Name}}
            </b-link>
        </div>
        
        <div>
            <b-dropdown v-if="loggedIn" v-b-tooltip.hover title="Remove" text="-" dropup right lazy variant="danger" no-caret class="border-0">
                <b-dropdown-item-button @click="$emit('remove-child', data.Id)" variant="ba-red">Remove?</b-dropdown-item-button>
            </b-dropdown>
            
            <b-button v-if="loggedIn" v-b-tooltip.hover title="Add brand" @click="showAddChild = !showAddChild" variant="ba-green" class="border-0">+</b-button>
        </div>

        <add-child-expando v-if="showAddChild" :parent="parent"
            v-on:close-add="showAddChild = false"
            v-on:add-new-child="newChildAdded"
            v-on:add-existing-child="existingChildAdded"/>

        <b-collapse class="childCollapse border-0" v-model="childrenVisible" v-show="computedHasChildren">
            <child-expando v-for="child in children" :key="child.Id" v-on:remove-child="removeChild"
                :data="child"
                :isEven="!isEven"
                :hasChildren="child.Children > 0"/>
        </b-collapse>
    </b-card>
</template>

<script>
import AddChildExpando from '@/components/AddChildExpando'

import { mapState, mapActions } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "childExpando",
    props: {
        data: Object,
        isEven: Boolean,
        hasChildren: Boolean
    },
    data() {
        return {
            showAddChild: false,
            children: [],
            loaded: false,
            childrenVisible: false
        }
    },
    computed: {
        ...mapState('account', ['loggedIn']),

        parent() {
            return { id: this.data.Id, name: this.data.Name };
        },

        computedHasChildren() {
            if (this.loaded) {
                return this.children.length > 0;
            } else {
                return this.hasChildren;
            }
        }
    },
    methods: {
        ...mapActions('entity', ['removeConnection', 'getChildren', 'getDirectChildren', 'getLazyLoadEntity']),
        ...mapActions({
            alertError: 'alert/error'
        }),

        newChildAdded(name, id) {
            if (!this.loaded) {
                this.loadChildren();
            } else {
                this.children.push({ Id: id, Name: name, Children: 0 });
            }
            this.childrenVisible = true;
            this.showAddChild = false;
        },

        toggleChildren() {
            if (!this.loaded) {
                this.loadChildren();
            }
            this.childrenVisible = ! this.childrenVisible;
        },

        existingChildAdded(id) {
            this.getLazyLoadEntity({ id: id })
            .then(response => {
                this.children.push(response.data);
            }).catch(error => {
                this.alertError(`Unable to load child brand - ${errorMeaning(error)}`);
            });
            this.showAddChild = false;
        },
        
        removeChild(id) {
            this.removeConnection({ parentId: this.data.Id, childId: id })
            .then(response => {
                this.children = this.children.filter(entity => entity.Id != id);
            }).catch(error => {
                this.alertError(`Unable to remove connection - ${errorMeaning(error)}`);
            });
        },

        loadChildren() {
            if (!this.loaded) {
                this.getDirectChildren({ id: this.data.Id })
                .then(response => {
                    this.loaded = true;
                    this.children = response.data;
                }).catch(error => {
                    this.alertError(`Unable to load child brands - ${errorMeaning(error)}`);
                });
            }
        }
    },
    components: {
        AddChildExpando
    }
}
</script>

<style>
.childExpando {
    padding-right: 0;
}

.childData {
    margin-bottom: 0.2em;
}

.childCollapse {
    margin-left: 1em;
    padding: 0.2em 0;
    padding-left: 1em;
    background-color: transparent;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}

.even {
    background-color: rgb(243, 243, 243);
}

.entity-link {
    font-weight: bold;
}

.toggle-children:focus {
    box-shadow: none;
}

.expand-triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid var(--ba-teal);
    transition: 400ms;
}

.expand-open {
    transform: rotate(90deg);
    transition: 400ms;
}
</style>