<template>
    <div class="entity mx-md-5 mx-sm-1 text-left">
        <div v-if="!loadFailed">
            <div>
                <b-input-group v-if="editing" prepend="Name" class="mb-1">
                    <b-form-input v-model="name" :state="nameValid" size="lg" class="col-3"/>
                </b-input-group>
                <h2 class="name-label" v-else>{{entity.name}}</h2>

                <b-input-group v-if="editing" prepend="Sector">
                    <b-input v-model="sector" :state="sectorValid" size="lg" class="col-3"/>
                </b-input-group>
                <h2 v-else-if="entity.sector"><small class="text-muted">{{entity.sector}}</small></h2>
                
                <b-button v-if="loggedIn && !editing" @click="editing = true" variant="primary">
                    Edit
                </b-button>
                <b-button-group v-else-if="loggedIn && editing">
                    <b-button @click="saveEdit" variant="primary">Save</b-button>
                    <b-button @click="cancelEdit">Cancel</b-button>
                </b-button-group>
            </div>

            <hr />

            <div id="owners">
                <h1>Owners</h1>
                <div id="tree-container">
                    <tree id="tree-root" :data="root" :isRoot="true" />
                </div>
            </div>

            <hr />

            <div id="children">
                <h1>Brands</h1>
                <b-button v-if="loggedIn" @click="showAddChild = !showAddChild" class="bg-success border-0 mb-1">Add sub-brand</b-button>

                <add-child-expando v-if="showAddChild" :parent="entity"
                    v-on:close-add="showAddChild = false"
                    v-on:add-new-child="newChildAdded"
                    v-on:add-existing-child="existingChildAdded"/>

                <div>
                    <child-expando v-for="child in children" :key="child.Id" v-on:remove-child="removeChild"
                        :data="child"
                        :isEven="true"
                        :hasChildren="child.Children > 0"/>
                </div>
            </div>

            <hr />

            <div>
                <b-button v-if="loggedIn" variant="danger" v-b-modal.delete-modal>Delete brand</b-button>
            </div>

            <b-modal id="delete-modal" :title="'Delete ' + entity.name"
                header-bg-variant="danger"
                body-text-variant="danger">

                <span>All brand data will be removed</span>

                <b-form-radio-group buttons button-variant="outline-danger"
                    v-model="orphanSelection"
                    :options="ophanOptions"
                    value-field="value"
                    text-field="name">
                </b-form-radio-group>

                <template v-slot:modal-footer="{ ok, cancel }">
                    <b-button @click="ok(); confirmDelete()" variant="danger">
                        Delete
                    </b-button>

                    <b-button @click="cancel()" variant="secondary">
                        Cancel
                    </b-button>
                </template>
            </b-modal>
        </div>
        <div v-else>
            <h1>Unable to load brand data</h1>
        </div>
    </div>
</template>

<script>
import Tree from "@/components/Tree"
import ChildExpando from "@/components/ChildExpando"
import AddChildExpando from '@/components/AddChildExpando'

import { EventBus } from '@/event-bus.js'
import { mapState, mapActions } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "entity",
    data() {
        return {
            showAddChild: false,
            name: "",
            sector: "",
            editing: false,
            orphanSelection: false,
            ophanOptions: [
                { value: false, name: "Parent(s) adopt children" },
                { value: true, name: "Orphan children" }
            ]
        }
    },
    computed: {
        ...mapState('account', ['loggedIn']),
        ...mapState('entity', ['root', 'entity', 'children', 'loaded', 'loadFailed']),

        entity() {
            return { Id: this.root.Id, name: this.root.Name, sector: this.root.Sector };
        },

        nameValid() {
            // SQL column is limited to 128 byte inputs
            return this.name.length > 0 && (new TextEncoder().encode(this.name)).length < 128;
        },

        sectorValid() {
            return (this.sector) ? (new TextEncoder().encode(this.sector)).length < 128 : 0;
        }
    },
    watch: {
        entity() {
            this.name = this.entity.name;
            this.sector = this.entity.sector;
        }
    },
    methods: {
        ...mapActions('entity', ['removeConnection', 'loadEntityData', 'setRootChildren',
                      'resetRoot', 'getChildren', 'changeName', 'changeSector', 'deleteEntity']),
        ...mapActions({
            alertError: 'alert/error',
            alertSuccess: 'alert/success'
        }),

        saveEdit() {
            if (this.name !== this.entity.name && this.name.length > 0) {
                this.changeName({ id: this.entity.Id, name: this.name })
                .then(response => {
                    this.root.Name = this.name;
                    this.alertSuccess("Name changed");
                }).catch(error => {
                    this.cancelEdit();
                    this.alertError(`Unable to change name - ${errorMeaning(error)}`);
                });
            }
            if (this.sector !== this.entity.sector) {
                this.changeSector({ id: this.entity.Id, sector: this.sector })
                .then(response => {
                    this.root.Sector = this.sector;
                    this.alertSuccess("Sector changed");
                }).catch(error => {
                    this.cancelEdit();
                    this.alertError(`Unable to change sector - ${errorMeaning(error)}`);
                });
            }
            this.editing = false;
        },

        cancelEdit() {
            this.name = this.root.Name;
            this.sector = this.root.Sector;
            this.editing = false;
        },

        removeChild(id) {
            this.removeConnection({ parentId: this.root.Id, childId: id })
            .then(response => {
                this.alertSuccess("Sub-brand removed");
                this.setRootChildren(this.children.filter(entity => entity.Id != id));
            }).catch(error => {
                this.alertError(`Unable to remove connection - ${errorMeaning(error)}`)
            });
        },

        confirmDelete() {
            this.deleteEntity({ id: this.entity.Id, orphanChildren: this.orphanSelection })
            .then(response => {
                this.alertSuccess("Brand deleted");
            }).catch(error => {
                this.alertError(`Unable to delete brand - ${errorMeaning(error)}`);
            });
        },

        newChildAdded(name, id) {
            this.children.push( {Id: id, Name: name, Nodes: [] });
            this.showAddChild = false;
        },
        
        existingChildAdded(id) {
            this.getChildren({ id: id })
            .then(response => {
                this.children.push(response.data);
            }).catch(error => {
                this.alertError(`Unable to load child brand - ${errorMeaning(error)}`);
            });
            this.showAddChild = false;
        }
    },
    components: {
        Tree,
        ChildExpando,
        AddChildExpando
    },
    created() {
        this.loadEntityData({ id: this.$route.params.id });
    },
    beforeRouteUpdate(to, from, next) {
        let id = to.params.id;
        this.loadEntityData({ id });
        next();
    }
}
</script>

<style>
.entity {
    padding-bottom: 200px;
}

#children {
    position: relative;
}

#tree-container {
    overflow-x: auto;
}

#tree-root {
    float: left;
    text-align: center;
}

.sector-label {
    color: rgb(107, 107, 107);
}
</style>