<template>
    <div class="home">
        <div class="top-triangle"></div>
        <b-jumbotron header="Brand Aware" lead="Know your brands." class="text-left m-0" bg-variant="ba-dark-blue" text-variant="white">
            <hr />
            <p>Brand Aware is a site that's designed to let you check what companies a brand is owned by and what brands a company owns.</p>

            <b-button :to="{ name: 'listAll', params: { page: 1 } }" variant="ba-teal">
                View all brands
            </b-button>
        </b-jumbotron>
        <div class="bottom-triangle"></div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "home",
    data() {
        return {
            title: "Brand Aware",
            entities: [],
            query: ""
        }
    },
    methods: {
        ...mapActions({
            alertError: 'alert/error'
        }),

        search() {
            let name = (this.query) ? 'search' : 'listAll';
            this.$router.push({ name, params: { query: this.query, page: 1 } });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #35495e;
}

hr {
    border-top: 1px solid rgba(255,255,255,.4);
}

.bottom-triangle, .top-triangle {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.bottom-triangle:after, .top-triangle:after {
    content: '';
    position: absolute;
    top: 0;
    width: 110%;
    height: 100%;
    background-color: #9de2d5;
    transform: rotate(-2.9deg);
}

.bottom-triangle:after {
    transform-origin: bottom left;
    left: -10px;
}

.top-triangle:after {
    transform-origin: top right;
    right: -10px;
}
</style>
