<template>
    <div class="login">
        <h4>Login</h4>

        <b-form @submit.prevent="handleSubmit">
            <b-form-group
                id="input-email-group"
                label="Email address:"
                label-for="email">

                <b-form-input
                    id="email"
                    v-model="email"
                    type="email"
                    required
                    placeholder="Enter email">
                </b-form-input>
            </b-form-group>

            <b-form-group id="input-password-group"
                label="Password:"
                label-for="password">

                <b-form-input
                    id="password"
                    v-model="password"
                    type="password"
                    required
                    placeholder="Enter password">
                </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Login</b-button>
            <b-button @click="cancel()">Cancel</b-button>
        </b-form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: "login",
    data() {
        return {
            email: "",
            password: ""
        }
    },
    methods: {
        ...mapActions('account', ['login']),
        handleSubmit() {
            const { email, password } = this
            if (email && password) {
                this.login({ email, password })
            }
        },
        cancel() {
            this.$router.push({ name: 'home' });
        }
    }
}
</script>