<template>
    <div class="register">
        <h4>Register</h4>

        <b-form @submit.prevent="handleSubmit">
            <b-form-group
                id="input-email-group"
                label="Email address:"
                label-for="email">

                <b-form-input
                    id="email"
                    v-model="email"
                    type="email"
                    required
                    placeholder="Enter email">
                </b-form-input>
            </b-form-group>

            <b-form-group id="input-password-group"
                label="Password:"
                label-for="password">

                <b-form-input @blur="showPasswordValidation = true"
                    id="password"
                    v-model="password"
                    type="password"
                    required
                    placeholder="Enter password">
                </b-form-input>
                <b-form-text v-show="!showPasswordValidation">
                    Password must be at least 10 characters long and contain at least one special character.
                </b-form-text>
                <div v-show="showPasswordValidation">
                    <b-form-invalid-feedback :state="lengthValidation">
                        Password must be at least 10 characters long.
                    </b-form-invalid-feedback>
                    <b-form-invalid-feedback :state="characterValidation">
                        Password must contain at least one special character.
                    </b-form-invalid-feedback>
                </div>
            </b-form-group>

            <b-form-group id="input-confirm-password-group"
                label="Confirm password:"
                label-for="password-confirm">

                <b-form-input @blur="showConfirmValidation = true"
                    id="confirm-password"
                    v-model="confirmPassword"
                    type="password"
                    required
                    placeholder="Confirm password">
                </b-form-input>
                <div v-show="showConfirmValidation">
                    <b-form-invalid-feedback :state="matchValidation">
                        Passwords must match.
                    </b-form-invalid-feedback>
                </div>
            </b-form-group>

            <b-button type="submit" variant="primary">Register</b-button>
            <b-button to="/">Cancel</b-button>
        </b-form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: "register",
    data() {
        return {
            email: "",
            password: "",
            confirmPassword: "",
            showPasswordValidation: false,
            showConfirmValidation: false
        }
    },
    methods: {
        ...mapActions('account', ['register']),

        handleSubmit() {
            const { email, password, confirmPassword } = this;
            if (this.validForm()) {
                this.register({ email, password, confirmPassword });
            } else {
                this.showPasswordValidation = true;
                this.showConfirmValidation = true;
            }
        },

        validForm() {
            return this.lengthValidation &&
                   this.characterValidation &&
                   this.matchValidation
        }
    },
    computed: {
        lengthValidation() {
            return this.password.length >= 10;
        },

        characterValidation() {
            return /[^a-zA-z0-9]/.test(this.password);
        },

        matchValidation() {
            return this.password === this.confirmPassword;
        }
    }
}
</script>