<template>
    <div class="search mx-md-5 mx-sm-1">
        <div class="text-left">
            <b-button v-if="loggedIn" @click="showAddEntity = !showAddEntity" class="bg-success border-0 mb-1">Add brand</b-button>

            <add-entity-expando v-if="showAddEntity"
                v-on:close-add="showAddEntity = false"
                v-on:add-new-entity="newEntityAdded" />
        </div>

        <b-input-group class="mb-3">
            <b-input v-model="searchQuery" @keyup.enter="entitySearch(searchQuery, 1)"></b-input>
            <b-input-group-append>
                <b-button @click="entitySearch(searchQuery, 1)" variant="primary">
                    Search
                </b-button>
            </b-input-group-append>
        </b-input-group>

        <b-list-group>
            <b-list-group-item v-for="result in searchResults" :key="result.Id" :to="{ name: 'entity', params: { id: result.Id }}">
                <span>{{result.Name}}</span>
                <small v-if="result.Sector" class="text-muted"> - {{result.Sector}}</small>
            </b-list-group-item>
        </b-list-group>

        <div v-if="totalResults > 10">
            <b-button v-if="page - pageNumberExtent > 1" class="page-nav" size="sm" :variant="page == 1 ? 'primary' : 'outline-primary'"
                :to="{ name: $router.currentRoute.name, params: { query: query, page: 1}}">1</b-button>
            <span v-if="page - pageNumberExtent > 2">...</span>

            <b-button v-for="pageNumber in pageNumbers" :key="pageNumber" class="page-nav" size="sm" :variant="page == pageNumber ? 'primary' : 'outline-primary'"
                :to="{ name: $router.currentRoute.name, params: { query: query, page: pageNumber}}">

                {{pageNumber}}
            </b-button>

            <span v-if="page + pageNumberExtent < pages - 1">...</span>
            <b-button v-if="page + pageNumberExtent < pages" class="page-nav" size="sm" :variant="page == pages ? 'primary' : 'outline-primary'"
                :to="{ name: $router.currentRoute.name, params: { query: query, page: pages}}">{{pages}}</b-button>
        </div>
    </div>
</template>

<script>
import AddEntityExpando from '@/components/AddEntityExpando'

import { mapActions, mapState } from 'vuex'
import { errorMeaning } from '@/helpers/http'

export default {
    name: "search",
    props: {
        query: String,
        page: Number
    },
    data() {
        return {
            searchQuery: this.query,
            searchResults: [],
            totalResults: 0,
            showAddEntity: false,
            pageNumberExtent: 2
        }
    },
    computed: {
        ...mapState('account', ['loggedIn']),

        pages() {
            return Math.ceil(this.totalResults / 10);
        },

        pageNumbers() {
            let nums = [];

            let start = Math.max(this.page - this.pageNumberExtent, 1);
            let end = Math.min(this.page + this.pageNumberExtent, this.pages);
            for (let i = start; i <= end; i++) {
                nums.push(i);
            }
            return nums;
        }
    },
    methods: {
        ...mapActions('entity', ['search']),
        ...mapActions({
            alertError: 'alert/error'
        }),

        newEntityAdded(name, id) {
            this.$router.push({name: 'entity', params: { id }})
        },

        entitySearch(query, page) {
            let name = (query) ? 'search' : 'listAll';
            this.$router.push({ name, params: { query, page } });
        },

        loadResults(query, page) {
            if (page >= 1) {
                this.search({ query, page, fetch: 10 })
                .then(response => {
                    this.searchResults = response.data.Results;
                    this.totalResults = Number(response.data.TotalResults);
                }).catch(error => {
                    this.alertError(`Search failed - ${errorMeaning(error)}`)
                });
            }
        }
    },
    created() {
        this.loadResults(this.query, this.page);
    },
    watch: {
        $route(to, from) {
            let query = to.params.query;
            let page = to.params.page;
            this.loadResults(query, page);
        }
    },
    components: {
        AddEntityExpando
    }
}
</script>

<style>
.page-nav {
    margin: 4px 2px;
    float: left;
}
</style>