<template>
  <div class="tree">
      <div class="node-children" v-if="data.Nodes.length">
          <tree v-for="node in data.Nodes" :name="data.Name" :key="node.Id" :data="node" :isRoot="false" />
      </div>
      <div class="node" @click="viewEntity(data.Id)">
          <div class="node-data" :class="{root : isRoot}">{{data.Name}}</div>
      </div>
  </div>
</template>

<script>
export default {
    name: "tree",
    props: {
        data: Object,
        isRoot: Boolean
    },
    methods: {
        viewEntity(id) {
            if (id != this.$route.params.id) {
                this.$router.push({ name: "entity", params: { id: id } });
            }
        }
    }
}
</script>

<style>
.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}

.node-children {
    display: flex;
    justify-content: center;
}

.node {
    position: relative;
}

.node-children {
    position: relative;
}

.node-data {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(132, 182, 187);
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(85, 105, 146, 0.2), 0 3px 10px 0 rgba(85, 105, 146, 0.2);
    transition: 500ms;
}

.node-data:hover {
    background-color: rgb(206, 224, 248);
    cursor: pointer;
}

.root:hover {
    cursor: auto;
}

/* Left and right connections */
.tree::before, .tree::after {
    content: '';
    border-bottom: 2px solid rgb(110, 143, 146);
    width: 50%;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 50%;
}

/* Move left connection */
.tree::after {
    right: auto;
    left: 50%;
}

/* Remove left and right connections for single nodes */
.tree:only-child::before, .tree:only-child::after {
    display: none;
}

/* Remove margin on bottom for single nodes */
.tree:only-child {
    margin-bottom: 0;
}

/* Hide left left or right connection on end nodes */
.tree:first-child::before, .tree:last-child::after {
    border: 0 none;
}

/* Add vertical connector to first node */
.tree:first-child::after {
    border-left: 2px solid rgb(110, 143, 146);
    border-radius: 0 0 0 5px;
}

/* Add vertical connector to last node */
.tree:last-child::before {
    border-right: 2px solid rgb(110, 143, 146);
    border-radius: 0 0 5px 0;
}

/* Add vertical connector to middle nodes */
.tree::after {
    border-left: 2px solid rgb(110, 143, 146);
}

/* Add vertical connector from parent node to child node */
.node-children::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    border-left: 2px solid rgb(110, 143, 146);
    width: 0;
    height: 20px;
}
</style>