$body-bg: #eeeded;

$enable-rounded: false;

$ba-yellow: #F4B942;
$ba-blue: #386f9c;
$ba-teal: #11afa8;
$ba-red: #C33C54;
$ba-green: #64a541;
$ba-dark-blue: #203342;
$ba-purple: #a160be;

$theme-colors: (
    "ba-yellow": $ba-yellow,
    "ba-blue": $ba-blue,
    "ba-teal": $ba-teal,
    "ba-red": $ba-red,
    "ba-green": $ba-green,
    "ba-dark-blue": $ba-dark-blue,
    "ba-purple": $ba-purple
);

@import "node_modules/bootstrap/scss/bootstrap.scss";